* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

h1 {
    margin: 30px auto;
    text-align: center;
    color: #4ecdc4;
    text-decoration: underline;
}

.input {
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 100px;
    display: flex;
}

.input input.text {
    width: 0%;
    border: none;
    outline: none;
    color: #fff;
}

.input .result {
    color: #fff;
    display: inline-block;
    flex-grow: 1;
    height: 100%;
    text-align: center;
    line-height: 1;
    font-size: 200px;
    font-weight: bold;
    padding-left: 60px;
    cursor: default;
    user-select: none;
}

.options {
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 80px;
    margin-right: 0px
}

.options div {
    margin-right: 35px;
    border: 2px solid #bbb;
    box-shadow: 2px 2px 2px #4ecdc4, 0px 0px 0px 1px #4ecdc4 inset;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.options div h2 {
    background-color: #fff;
    padding: 5px 10px;
    text-align: center;
    color: #4ecdc4;
    line-height: 40px;
    cursor: default;
    font-weight: bold;
    user-select: none;
}

.options div.key-code span.code,
.options div.key-name span.name {
    display: inline-block;
    width: 100%;
    font-size: 85px;
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.options div.key-name span.name {
    font-size: 40px;
    line-height: 2.8;
}

input.copy {
    background-color: #333;
    color: #333;
    border: none;
    outline: none;
    user-select: none;
    font-size: 0.8px;
    cursor: default;
    
}

.copy-code,
.copy-name {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    bottom: 10%;
    left: -100%;
    background-color: #4ecdc4;
    width: 150px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #ccc;
}

.copy-name {
    bottom: 20%;
}

footer {
	margin: 20px auto;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #ced4da;
	padding: 5px
}

footer p {
    margin-top: 8px;
}

footer p span {
    background-color: #ddd;
    padding: 2px;
    color: #333;
    border-radius: 5px;
}





